body {
    margin: 0;
    height: 100%;
    color: white;
}

html, body {
    height: 100%;
    overflow: hidden;
}
html {
    background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

.sound{
    background-color: white;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.sound img{
    height: 30px;
    width: 30px;
}

.live{
    position: absolute;
    top: 50px;
    left: calc(100% - 300px);
}

.liveImg{
    width: 50px;
    height: 50px;
}

.scoreDiv{
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50px;
    left: calc(50% - 50px);
}
.bonus{
    color: white;
    font-size: 36px;
    position: absolute;
    top: 100px;
    left: calc(50% - 50px);
}

.boomAll{
    width: 100px;
    height: 100px;
    position: absolute;   
}

.BoomAllimg{
    width: 100px;
    height: 100px;
    transition: 0.2s;
}

.heal{
    width: 100px;
    height: 100px;
    position: absolute;   
}

.Healimg{
    width: 100px;
    height: 100px;
    transition: 0.2s;
}

.startScreen{
    margin: 100px 600px;
}

.startScreen h1{
    text-align: center;
    font-size: 54px;
}

.startScreen button{
    margin: 0 auto;
    background-color: #ffffff00;
    color: white;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 60px;
}

.endGame{
    margin: 100px 600px;
    color: white;
}

.endGame button{
    margin: 0 auto;
    background-color: #ffffff00;
    color: white;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 60px;
}

#app {
    min-height: 100%;
    position: relative;
    z-index: 9999;
    height: 100%;
    width: 100%;
    
}

#app img {
    max-width: 150px;
    display: inline-block;
    max-height: 150px;
    transition: 0.2s;
    margin: 0 auto;
}

#player1{
    width: 150px;
    max-height: 150px;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 75px);
    transition: 0.1s;
    display: flex;
}

.enemy{
    width: 150px;
    height: 150px;
    background-size: contain;
    position: absolute;
}

.asteroid{
    width: 100px;
    height: 65px;
    position: absolute;   
}
.asteroidimg{
    width: 100px;
    height: 65px;
    transition: 0.2s;
    animation: spin 2s linear infinite;
}

.planet{
    width: 500px;
    height: 500px;
    position: absolute;  
    transition: 0.2s;
    z-index: -9999; 
    background-size: contain;
}

.enemy-boom{
    width: 150px;
    height: 150px;
    background-size: contain;
    position: absolute;
    top: 60px;
    left: calc(50% - 75px); 
    background-repeat: no-repeat;
}

.bullet{
    background-image: url("../images/bullet.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute ;
    transition: 0.2s;
}